         * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        body {
        background-color: #2ab6ff;
        text-align: center;
        font-family: Arial Black;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
    }
    h1, h2, h3, p {
        color: #fff176;
        z-index: 2;
        margin-top: 0;
    }
    h1 {
        color: #fff176;
        z-index: 2;
        margin-top: 0;
        font-size:70px;
    }
    h2 {
        color: #fff176;
        z-index: 2;
        margin-top: 0;
        font-size:40px;
    }
   .ste h2 {
        color: #fff176;
        z-index: 2;
        margin-top: 0;
        font-size:40px;
        animation: scrolll linear;
        animation-timeline: view();
        animation-range-end:500px;
        animation-range-start:-100px;
        //opacity:0;
    }
    .stre h2 {
        color: #fff176;
        z-index: 2;
        margin-top: 0;
        font-size:40px;
        animation: scrolll linear;
        animation-timeline: view();
        animation-range-end:500px;
        animation-range-start:-100px;
        //opacity:0;
    }
    @keyframes scrolll{
    from {opacity:0;}
    to {opacity:1}
    }
    #logo {
        width: 8vh;
        height: 8vh;
        display: flex;
        margin-top: 30px;
        margin-left: 15px;
        border-radius: 50px;
        z-index: 4;
    }
    button {
        background-color: #fff176;
        color: #2ab6ff;
        border: none;
        border-radius: 5px;
        width: 20vw;
        height: 10vw;
        font-size:2.5vw;
        font-weight: bold;
        transition: width 0.12s, height 0.12s, box-shadow 0.12s, font-size 0.12s;
    }
    button:hover {
        width: 21.5vw;
        height: 11.5vw;
        border: none;
        border-radius: 5px;
        font-size:2.6vw;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        transition: width 0.12s, height 0.12s, box-shadow 0.12s, font-size 0.12s;
    }
    .ste {
        margin-top: 5vh; /* Aangepaste waarde voor betere uitlijning */
        display: flex;
        justify-content: space-around; /* Ruimte tussen tekst en afbeelding */
        align-items: center;
    }
    .ste h2{
    font-size:4vw;    
    }
    .zin, .zinn {
        width: 40%; /* Aangepaste breedte voor tekstblokken */
        height: 100vh;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .zinn {
        width: 40%; /* Aangepaste breedte voor tekstblokken */
        height: 100vh;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .zinimg .zinnimg {
        width: 40%; /* Aangepaste breedte voor afbeeldingsblokken */
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .zinnimg {
        width: 40%; /* Aangepaste breedte voor afbeeldingsblokken */
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foto {
        max-width: 90%; /* Zorg ervoor dat afbeeldingen niet breder zijn dan hun container */
        max-height: 90%;
    }
    #slogan {
        font-size: 40px;
        font-weight: normal;
    }
    .container {
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .thema {
        width: 30vw;
        height: auto;
        background-color: white;
        display: flex;
        margin: 5px;
        border-radius: 5px;
        max-width:350px;
        max-height:3050px;
        flex-direction: column;
        align-items:center;
        transition:0.12s;
    }
    .themass h3 {
        color: #2ab6ff;
        font-size:3.5vw;
        font-weight:bold;
    }
    .titel {
        color: #fff176;
        font-size:3vw;
        font-weight:bold;
        animation: scrolll linear;
        animation-timeline: view();
        animation-range-end:500px;
        animation-range-start:-100px;
    }
    .thema p {
        color: #63c9ff;
        font-size:2vw;
    }
    #stre{
    background-color: #fff176;
    color:#2ab6ff;
    width:102vw;
    margin-left:auto;
    margin-right:auto;
    }
    #stre h2{
    color:#2ab6ff;
    font-size:4vw;
    }
    .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    //width:101vh;
    flex-direction:column;
    margin-top:-9vh;
    }
    button{
    font-size:2.5vw;
    }
    .hero h1 {
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    }
    .hero button {
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    }
    .hero h3 {
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    }
    svg {
    width:5vw;
    height:5vw;
    transition: fill 0.12s;
    max-width:35px;
    max-height:35px;
    }
    svg:hover {
    width:5vw;
    height:5vw;
    fill:#fff176;
    transition: fill 0.32s;
    max-width:35px;
    max-height:35px;
    }
    .icoon {
    width:10vw;
    height:10vw;
    z-index:4;
    transition:0.12s;
    }
    .tekstthema {
    background-color:#fff176;
    height:auto;
    width:100%;
    flex-grow: 1;
    border-radius: 5px;
    z-index:5;
    transition: all 0.5s ease-in-out;
    }
